body {
  background-color: #0021A5;
  opacity: 0.75;
}

header {
  background-color: #0021A5;
  text-align: Center;
  padding: 2rem, 1.5rem;
}
header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  top-margin: 0.5rem;
  color: #FFFFFF;
  }

header p {
  font-size: 1.2rem;
  opacity: 0.9;
  color: #FA4616;
}

#about {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem
}

.profile-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.about-text {
  flex: 1;
}



h1 {
  font-size: 2.5rem;
  text-align: center
}

